﻿.rowMargin{
    margin: 20px 0 !important;
}
.fontSizeDivider{
    font-size: 18px !important;
}
.fontSizeText{
    font-size: 16px !important;
}
.beneficiary{
    border: 1px solid #b6ddff !important;
    padding: 10px 20px !important;
    font-size:  16px !important;
    border-collapse: collapse !important;
    position: relative;
}
.beneficiaryDelete{
    position: absolute;
    right: -10px;
    top: -20px;
}
.fontSizeRadio{
    font-size: 16px !important;
}
.ant-spin-nested-loading>div>.ant-spin{
    position: fixed !important;
}

.businessProfileDeleteBlock{
    position: relative;
}
.businessProfileDeleteButton{
    position: absolute;
    right: 1px;
    top: 18px;
    z-index: 1;
}